.address-card{
    padding : 15px;
    width: 30%;
    border: solid 1px gray;
}
.designation{
    font-style:italic
}
.phone{
    border-left: 1px solid;
    padding-left: 5px;
}
.name{
    font-family: "Verdana", san-serif;
}
.address{
    font-size: 15px;
}