<div class="container">
    <div class="gitCard"><h1>Git  User details</h1>
        <b>Name :</b><input type="text" [(ngModel)]="username"/>
        <button (click)="fetchUser()" class="btn"> Search</button>
        <div *ngIf="response" >
            <p><b>Login Name : </b> {{response.login}}</p>
            <p><b>Num of Repos :</b> {{response.public_repos}}</p>
            <p><b>Num of gists :</b> {{response.public_gists}}</p>
            <p><b>Followers :</b> {{response.followers}}</p>
        </div>
    </div>
</div>